# dependencies
node_modules/
dist/
.vite/
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor junk
.DS_Store
.idea/
.vscode/

# build artifacts
coverage/

#local images
public/images/photo*.jpg
public/images/photo*.png
static/MG_CV_current.pdf